body {
  background-color: #fafafa;
  color: #999999;
  background-image: url("http://i.imgur.com/mNT3trS.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.container {
  text-align: center;
}

.page-cover-text-box {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fafafa;
}

/* Opens Sans: 300 - light, 400 - regular, 600 - semi-bold, 700 bold */
.page-cover-text-box h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.page-cover-text-box h2 {
  font-family: 'Poiret One', cursive;
}

.contact-links {
  margin-top: 30px;
}

.contact-links p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.contact-links a {
  padding-left: 10px;
  padding-right: 10px;
  color: #FFD54F;
}
